<div class="d-flex">
    <div class="card" style="max-width: 300px">
        <img class="card-img-top"
            src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-1.jpg"
            alt="Bologna">
        <div class="card-body">
            <h4 class="card-title">Bologna</h4>
            <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of
                about one million people. </p>
            <a href="#" class="card-link">Read More</a>
            <a href="#" class="card-link">Book a Trip</a>
        </div>
    </div>
</div>